# The configuration file for blp_trade
#

[input]

# the directory to look for input XML files
#directory=C:\blp\Connection\TradeFile(ToGENEVA)
directory=C:\Users\steven.zhang\AppData\Local\Programs\Git\git\blp_trade\samples

# the portfolio whose trades need to be extracted
portfolio=40006



[ftp]

server=sftp.clamc.com.hk
user=svc_sftp
password=CEcY26
targetDir=A2GTrade

# path the WinSCP.com
winscpPath=C:\Program Files (x86)\WinSCP\WinSCP.com

# time out setting
timeout=120

# where to put the dynamically generated script
scriptDir=C:\Users\steven.zhang\AppData\Local\Programs\Git\git\blp_trade\winscp_scripts

# where to put the winscp log files
logDir=C:\Users\steven.zhang\AppData\Local\Programs\Git\git\blp_trade\winscp_logs



[database]

# which database to use
name=blp_trade

# user name and password to connect to database
username=steven
password=clamc123

# network address of the MySQL database
host=ubuntu-server01



[testdatabase]

# which database to use
name=blp_trade

# user name and password to connect to database
username=testuser
password=clamc888

# network address of the MySQL database
host=ubuntu-test01



[email]

# the mail server address
server=192.168.16.185

# the mail sender
sender=itsupport@clamc.com.hk

# the mail recipients
recipents=ITAdmin@clamc.com.hk

# smtp timeout in seconds
timeout=15
