# The configuration file for web_backup
#

[backup]

directory=/my_stuff/backup



[clear]

days=93



[webserver]
host=clamc-websvr003
user=cuser
password=ClamC0627




[email]

# the mail server address
server=192.168.16.185

# the mail sender
sender=itsupport@clamc.com.hk

# the mail recipients
recipents=ITAdmin@clamc.com.hk

# smtp timeout in seconds
timeout=15
